<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../../../vendor/autoload.php" colors="true" cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="Discord Plugin">
            <directory>.</directory>
        </testsuite>
    </testsuites>
    <php>
        <const name="DB_DRIVER" value="sqlite" />
        <const name="DB_FILENAME" value=":memory:" />
    </php>
</phpunit>
